future
emoji
lxml
wget
coffeehouse
gtts
beautifulsoup4
requests
python-telegram-bot==13.11.0
SQLAlchemy==1.4.31
psycopg2-binary
feedparser==6.0.8
faker
hachoir
aiofiles
ffmpeg-python
geopy
Pillow
CurrencyConverter
googletrans
google-trans-new
jikanpy
speedtest-cli
regex
bleach
wikipedia
markdown2
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
pyrogram==1.4.12
yt-dlp
youtube_search_python
youtube_search
lyrics_extractor
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
better_profanity
nekos.py
opencv-python-headless
tzlocal
pendulum==2.1.2
fuzzysearch
img2pdf
multicolorcaptcha
git+https://github.com/python-telegram-bot/ptbcontrib.git
hiredis==2.0.0
pretty_errors
ShazamAPI
html-telegraph-poster
qrcode
pyYAML>=5.1.2
base58
pybase64
pycryptodome
NumPy==1.22.3
odmantic==0.3.5
requests_html==0.10.0
textblob==0.17.1 
nudepy==0.5.1
motor>=2.1.0,<2.6.0
gpytranslate==1.4.0
fontTools==4.32.0
pykeyboard==0.1.5
pynewtonmath==1.0.1
asyncio
cloudscraper==1.2.60
dateparser==1.1.1

spongemock==0.3.4
zalgo-text==0.6
psutil==5.9.0
aiohttp>=2.2.5
